h1 {text-align: center;}
body {margin: 0;}

.red {background-color: #ce1e1e;}
.red:hover {background-color: #ff0000;}
.red:active{background-color: #420000;}
.green {background-color: #00b60f;}
.green:hover {background-color: #00ff15;}
.green:active{background-color: #01700a;}
.blue {background-color: #04b2d1;}
.blue:hover {background-color: #00d9ff;}
.blue:active{background-color: #008299;}
.black {background-color: #00222e; color:ghostwhite}
.black:hover {background-color: #5a5a5a;}
.black:active{background-color: #001f2a;}

p {
    margin: 0;
    padding: 5px;
    display: inline-block;
    font-size: 20px;
}

button, .button {
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    margin: 0px;
}

.tog {
    display: inline-block;
}

.together {
    white-space: nowrap;
    display: inline-block;
}

.nav {
    display: flex;
    justify-content: left;
    background-color: gainsboro;
}
.navitem {
    padding: 10px;
}
.navitem:hover {
    background-color: whitesmoke;
}
.selected {
    background-color: white;
}
a, a:active, a:hover {
    color: #000000;
    text-decoration: none;
}

table {
    width: 100vw;
    padding: 10px;
    border-collapse: collapse;
}
tr {
    padding-bottom: 20px;
    padding-right: 10px;
}
td {
    border-top: 1px solid black;
    padding: 5px;
    padding-bottom: 15px;
}
.r {
    text-align: right;
}