/* Color variables */
:root {
    --blue: #005295;
    --green: #00b60f;
    --back: white;
    --letter: black;
    --navbar: #001f2a;
    --navbarsel: #00394e;
    --navbarcolor: white;
    --navbarselcolor: black;
    --border: lightgray;
    --fontsize: 20px;
}

/* Button */
.red {
    background-color: #ce1e1e;
    border: 2px solid #ce1e1e;
    padding-left: 11px;
    padding-right: 11px;
}
.red:hover {background-color: #ff0000;}
.red:active{background-color: #420000;}
.green {
    border: 2px solid var(--green);
    background-color: var(--back);
    color: var(--green)
}
.green:hover, .green:active {
    background-color: var(--green);
    color: black;
}
.blue {
    border: 2px solid var(--blue);
    background-color: var(--back);
    color: var(--blue);
}
.blue:hover, .blue:active {
    color: var(--back);
    background-color: var(--blue);
}
.black {
    background-color: var(--back); 
    border: 2px solid var(--letter);
    color: var(--letter)
}
.black:hover, .black:active {
    background-color: var(--letter);
    color: var(--back);
}
button, .button {
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    margin: 0px;
}

/* Global */
body {
    margin: 0;
    width: 100vw;
    background-color: var(--back);
    color: var(--letter);
}
p {
    margin: 0;
    padding: 5px;
    display: inline-block;
    font-size: var(--fontsize);
}

/* Keep buttons together when resizing */
.tog {
    display: inline-block;
}

.together {
    white-space: nowrap;
    display: inline-block;
}

/* Navigation bar */
.nav {
    display: flex;
    justify-content: left;
    background-color: var(--navbar);
    margin-bottom: 10px;
    font-size: var(--fontsize);
    width: 100vw;
}
.navback {
    background-color: var(--back);
}
.navitem {
    padding: 10px;
    background-color: var(--navbar);
}
.navextra {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.borderleft {
    border-bottom-left-radius: 10px;
}
.borderright {
    border-bottom-right-radius: 10px;
}
.navitem:hover {
    background-color: var(--navbarsel);
}
.selected, .selected:hover {
    background-color: var(--back);
    color: var(--navbarselcolor);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.sel, .sel:hover {
    color: var(--letter);
}
a, a:active, a:hover {
    color: var(--navbarcolor);
    text-decoration: none;
}

/* Table */
table {
    width: 100vw;
    padding: 20px;
    border-collapse: collapse;
}
tr {
    padding-bottom: 20px;
    padding-right: 10px;
}
td {
    border-top: 1px solid var(--border);
    padding: 5px;
    padding-bottom: 15px;
    font-size: var(--fontsize);
}
.r {
    text-align: right;
}
.l {
    text-align: left;
    padding-left: 10px;
}
.done {
    text-decoration: line-through;
}

/* Input form */
.add {
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
}
.input {
    font-size: var(--fontsize);
    flex-grow: 2;
    border: 2px solid var(--blue);
    border-radius: 5px;
}
.input:active {
    border-radius: 5px;
}
.insubmit {
    background-color: var(--blue);
    color: var(--back);
    flex-grow: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.insubmit:hover {
    background-color: var(--back);
    color: var(--blue);
}