:root {
    --blue: #005295;
    --green: #00b60f;
    --back: white;
    --letter: black;
    --navbar: #001f2a;
    --navbarsel: #00394e;
    --navbarcolor: white;
    --navbarselcolor: black;
    --border: lightgray;
}

h1 {text-align: center;}
body {
    margin: 0;
    background-color: var(--back);
    color: var(--letter);
}

.red {
    background-color: #ce1e1e;
    border: 2px solid #ce1e1e;
}
.red:hover {background-color: #ff0000;}
.red:active{background-color: #420000;}
.green {
    border: 2px solid var(--green);
    background-color: var(--back);
    color: var(--green)
}
.green:hover, .green:active {
    background-color: var(--green);
    color: black;
}

.blue {
    border: 2px solid var(--blue);
    background-color: var(--back);
    color: var(--blue);
}
.blue:hover, .blue:active {
    color: var(--back);
    background-color: var(--blue);
}

.black {
    background-color: #00222e; 
    border: 2px solid #00222e;
    color:ghostwhite
}
.black:hover {
    background-color: #5a5a5a;
}
.black:active{
    background-color: #001f2a;
}

p {
    margin: 0;
    padding: 5px;
    display: inline-block;
    font-size: 20px;
}

button, .button {
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    margin: 0px;
}

.tog {
    display: inline-block;
}

.together {
    white-space: nowrap;
    display: inline-block;
}

.nav {
    display: flex;
    justify-content: left;
    background-color: var(--navbar);
    margin-bottom: 10px;
    font-size: 20px;
}
.navitem {
    padding: 10px;
}
.navitem:hover {
    background-color: var(--navbarsel);
}
.selected, .selected:hover {
    background-color: var(--back);
    color: var(--navbarselcolor);
}
.sel, .sel:hover {
    color: var(--navbarselcolor);
}
a, a:active, a:hover {
    color: var(--navbarcolor);
    text-decoration: none;
}

table {
    width: 100vw;
    padding: 10px;
    border-collapse: collapse;
}
tr {
    padding-bottom: 20px;
    padding-right: 10px;
}
td {
    border-top: 1px solid var(--border);
    padding: 5px;
    padding-bottom: 15px;
    font-size: 20px;
}
.r {
    text-align: right;
}
.add {
    padding-bottom: 10px;
}
.done {
    text-decoration: line-through;
}