<!DOCTYPE html>
<html>
<head>
<title>Evalueer Planken</title>
<link rel="icon" href="/static/logo.png" type="image/x-icon">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<ul>
    <li><a href="/">New items</a></li>
    <li><a href="/list">In progress</a></li>
</ul>
<h1>In progress</h1>
<form action="/epchange" method="post">
<input type="hidden" name="target" value="/list">
<ul>
    {{range .}}
        <li>
            <div>
                {{.Name}} {{.Season}}  
                <button type="submit" class="green" name="nexts" value="{{.Id}}">Next</button>
                <button type="submit" class="blue" name="prevs" value="{{.Id}}">Prev</button>
                {{.Ep}}
                <button type="submit" class="green" name="next" value="{{.Id}}">Next</button>
                <button type="submit" class="blue" name="prev" value="{{.Id}}">Prev</button>
                <button type="submit" class="red" name="del" value="{{.Id}}">Del</button>
                <button type="submit" class="" name="done" value="{{.Id}}">Done</button>    
            </div>
        </li>
    {{end}}
</ul>
</form>


</body>
<script>

</script>
</html>