<!DOCTYPE html>
<html>
<head>
<title>Evalueer Planken</title>
<link rel="icon" href="/static/logo.png" type="image/x-icon">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<ul>
    <li><a href="/">New items</a></li>
    <li><a href="/list">In progress</a></li>
</ul>
<h1>In progress</h1>
<form action="/epchange" method="post">
<input type="hidden" name="target" value="/list">
<ul>
    {{range .}}
        <li>
            <div>
                {{.Name}} {{.Ep}} 
                <button type="submit" name="next" value="{{.Id}}">Next</button>
                <button type="submit" name="prev" value="{{.Id}}">Prev</button>
                <button type="submit" class="red" name="id" value="{{.Id}}">Del</button>
                    
            </div>
        </li>
    {{end}}
</ul>
</form>


</body>
<script>

</script>
</html>