<!DOCTYPE html>
<html>
<head>
<title>ep-tracker</title>
<link rel="icon" href="/static/logo.png" type="image/x-icon">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<ul>
    <li><a href="/">New items</a></li>
    <li><a href="/list">In progress</a></li>
</ul>
<h1>Watch list</h1>
<form action="/add" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="submit" class="blue" value="+">
</form>
<form action="/epchange" method="post">
<input type="hidden" name="target" value="/">
<ul>
    {{range .}}
        <li>
            <div>
                {{.Name}} 
                <button type="submit" class="red" name="del" value="{{.Id}}">Del</button>
                <button type="submit" class="green" name="next" value="{{.Id}}">Start</button>
            </div>
        </li>
        <li>
            <div>
                {{.Name}} 
                <button type="submit" class="red" name="del" value="{{.Id}}">Del</button>
                <button type="submit" class="green" name="next" value="{{.Id}}">Start</button>
            </div>
        </li>
    {{end}}
</ul>
</form>

</body>
<script>

</script>
</html>