<!DOCTYPE html>
<html>
<head>
<title>ep-tracker</title>
<link rel="icon" href="/static/logo.png" type="image/x-icon">
<link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="nav">
    <div class="selected navitem"><a href="/" class="sel">New Items</a></div>
    <div class="navitem"><a href="/list">In Progress</a></div>
</div>
<form action="/add" method="post" class="add">
    <input type="text" name="name" placeholder="Name">
    <input type="submit" class="blue" value="+">
</form>

<form action="/epchange" method="post">
<input type="hidden" name="target" value="/">

{{range .}}
<table>
    <th></th>
    <tr>
        <td><p>{{.Name}}</p></td>
        <td class="r">
            <button type="submit" class="green" name="next" value="{{.Id}}">Start</button> 
            <button type="submit" class="red" name="del" value="{{.Id}}">Del</button>
        </td>
    </tr>
</table>
{{end}}
</form>

</body>
<script>

</script>
</html>