<!DOCTYPE html>
<html>
<head>
<title>Evalueer Planken</title>
<link rel="icon" href="/static/logo.png" type="image/x-icon">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<ul>
    <li><a href="/">New items</a></li>
    <li><a href="/list">In progress</a></li>
</ul>
<h1>Watch list</h1>
<form action="/addnew" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="submit" class="blue" value="+">
</form>
<ul>
    {{range .}}
        <li>{{.Name}}</li>
    {{end}}
</ul>


</body>
<script>

</script>
</html>